body {
    background-color: #121212;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
}

main section {
    margin-bottom: 40px;
}

main h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

a img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    height: auto;
}

.screenshots-container {
    overflow-x: scroll;
    margin-bottom: 20px;
    white-space: nowrap;
}

.screenshot {
    display: inline-block;
    margin-right: 10px;
    width: 70%;
    max-width: 200px;
    vertical-align: top;
}

.screenshot img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#donate-button-container {
    text-align: center;
    margin-top: 20px;
}

main a {
    color: #1E90FF;
    text-decoration: none;
    border-bottom: 1px dotted #1E90FF;
}

main a:hover {
    border-bottom-style: solid;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #1E90FF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.badge-section {
    text-align: center;
    margin-bottom: 40px;
}

.badge-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-container a {
   margin: 0 20px;
    border-bottom: none; /* Ensure no underline */
}

.badge-container a:hover {
    border-bottom: none; /* Ensure no underline */
}

.badge-container a img {
    width: auto;
    height: 80px;
}

#apple-batch {
    height: 55px;
}